.hidden-xs
  h3.text-center User creations
  ul#projects-slider.cS-hidden
    each proj in projects
      .prj-element.element-item
        a(href='localhost:8080/#present:Username='+proj.owner+'&ProjectName='+proj.projectName, target='_blank')
          .thumbnail
            img(src= proj.thumbnail, alt='NetsBlox Project: ' + proj.projectName)
            .caption.text-center
              h4= proj.projectName
              small= proj.services[0]
