extends ../includes/layout.pug
block title
  title RoboScape
block content
  .container
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='Content-Style-Type' content='text/css')
    meta(name='generator' content='pandoc')
    title
    style(type='text/css') code{white-space: pre;}
    h1#challenge-explanation-structure Challenge Explanation Structure
    ul
      li name
      li goal
      li restrictions
      li requirements
      li how to execute
      li variations
      li prequisites (binary, client rate)
      li suggested unit
      li walkthrough of solution or solutions (would depend on what attacks students know so far)
    a(href="/roboscape")  Back
