extends ../includes/layout.pug
block title
  title RoboScape
block content
  .container
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    meta(http-equiv='Content-Style-Type' content='text/css')
    meta(name='generator' content='pandoc')
    title
    style(type='text/css') code{white-space: pre;}
    h1#simple-attacks Simple Attacks
    h2#learning-goals Learning Goals
    h2#description Description
    h2#glossary Glossary
    ul
      li
        a(href='https://en.wikipedia.org/') term a
    h2#requiredauthorized-commands Required/Authorized Commands
    h2#activities Activities
    h3#task-name Task Name
    p description and estimated time
    h2#common-pitfalls Common Pitfalls
    ul
      li in attack detection students might have issues keeping the counts in sync and therefore getting false positives for presence of an attacks.
      li it's important to mention that failed commands won't be overheard: network disconnect or invalid commands
    h2#hints Hints
    h2#next-steps Next Steps
    p do this other activity
    h3#additional-reading Additional Reading
    ul
      li
        a(href='https://en.wikipedia.org/') reading topic
    a(href="/roboscape")  Back
