extends includes/layout.pug
block title
    title CSTA 2018 Workshop - NetsBlox
block content
    .container
        h2 Maps, Movies, and Multiplayer Games Workshop at CSTA 2018
        p
            | During the CSTA workshop, we presented a number of different educational applications made possible by NetsBlox. This page contains relevant links to materials and resources from the workshop.
        ul
            li
                | Example Projects
            ul
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=SemiPongX", target="_blank") Semi-Pong
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=QuakeHistogram", target="_blank") Quake Histogram
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=QuickQuake", target="_blank") QuickQuake
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=1103-Weather", target="_blank") Interactive Weather Map
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=StreetViewMap", target="_blank") StreetViewMap
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=CastShow", target="_blank") Movie Cast Members
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=21%20Pebbles", target="_blank") 21 Pebbles
                li
                    a(href="https://editor.netsblox.org/?action=example&ProjectName=Dice", target="_blank") Simple Dice Game
                li
                    a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=SharedWhiteboardx", target="_blank") Shared Whiteboard
                li
                    a(href="https://editor.netsblox.org/?action=example&ProjectName=Geolocation", target="_blank") Geolocation
                li Chat Application
                ul
                    li
                        a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=NiceClient", target="_blank") Client Application
                    li
                        a(href="https://editor.netsblox.org/?action=present&Username=ledeczi&ProjectName=NiceChat", target="_blank") Server Application
                    
                    
                    
            li
                | Lesson Descriptions
            ul
                li
                    a(href="/lessons/NetsBlox Lesson Map and Weather.pdf") Map and Weather
                li
                    a(href="/lessons/NetsBlox Lesson Lists and Movies.pdf") Lists and Movies
                li
                    a(href="/lessons/NetsBlox Lesson Messages and Chatroom.pdf") Messages and Chatroom
