extends includes/layout.pug
block title
    title Help - NetsBlox
block content
  mixin box(title, url, buttonCaption)
    .col-md-4.col-sm-6.text-center
      .box.card
        h2.tag-title= title
        block
        br
        if buttonCaption
          a.btn.btn-block.btn-primary(href=url)= buttonCaption
  .container
    .row
      h2.text-center Learn more about NetsBlox
      .row
        +box('How To\'s','/howtos','More')
          p Guides and tutorials to help you understand and use NetsBlox.
          .text-left
            ul
              li
                a(href='/howtos/#rooms') Rooms
              li
                a(href='/howtos/#messages') Messages
              li
                a(href='/howtos/#services') Services (RPCs)
              li
                a(href='/howtos/#manage-room') Managing rooms
              li
                a(href='/howtos/#send-messages') Sending and receiving messages
              li
                a(href='/howtos/#use-services') Using Services (RPCs)
              li
                a(href='/mobile') Access on small screen devices
        +box('QuickStart','/quickstart','Read More')
          p Get started with playing multiplayer games on NetsBlox in no time.

        +box('Demos','/tutorials','View')
          p Check out walkthroughs and featured demos of Netsblox here.
          ul.text-left
            li
              a(href='https://youtu.be/-qS7hGowQKQ') Prime Factorization
            li
              a(href='https://youtu.be/NRIUUiJMCmI') Running Dog Demo
            li
              a(href='https://youtu.be/YXKUtTbbVWI') NetsBlox Demo
            li
              a(href='https://youtu.be/mNUfYkYIWb8') Create Your Own Weather App!
            li
              a(href='https://www.youtube.com/watch?v=liWp2fuly_Q') Plotting
            li
              a(href='https://youtu.be/mSeEAWv8GYE') Mini Science Projects
            li
              a(href='https://www.youtube.com/watch?v=QGsJ4OjWCBU') Eclipse Temperature Tracking
            li
              a(href='https://www.youtube.com/watch?v=e0WSvF6bln8') Eclipse Temperature Tracking (short)
            li
              a(href='https://www.youtube.com/watch?v=vyP_2Fc_u4Y') Internet of Things (IoT)
        +box('Documents', '#','')
          ul.text-left
            li
              a(href='/NetsBloxWhitePaper.pdf') White Paper
            li
              a(href='https://snap.berkeley.edu/SnapManual.pdf') Snap! Manual
            li
              a(href='/NetsBloxFlyer.pdf') Flyer
