extends includes/layout.pug
block title
  title RoboScape
block content
  .container
    h2 Cybersecurity Education with RoboScape
    br
    .row
      p TODO add information about roboscape
      a(href="/teachers")
        button teacher assets
